# World News NLP Project: Notebook 1
## Data Imports, Cleaning & EDA
#### Adam Zucker

---

## Problem

Statement

---

## Notebook Contents

Imports, cleaning, EDA, basic background...

---

## Data

Data Dict?

---

## Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import spacy
from spacy import displacy

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from nltk.tokenize import RegexpTokenizer
from nltk.sentiment.vader import SentimentIntensityAnalyzer

from geotext import GeoText

import time
from datetime import datetime

In [20]:
# Reading in data
df = pd.read_csv('../data/world_news_posts.csv')

In [3]:
df.head()

,time_created,date_created,up_votes,down_votes,title,over_18,author,category
0,1201232046,2008-01-25,3,0,Scores killed in Pakistan clashes,False,polar,worldnews
1,1201232075,2008-01-25,2,0,Japan resumes refuelling mission,False,polar,worldnews
2,1201232523,2008-01-25,3,0,US presses Egypt on Gaza border,False,polar,worldnews
3,1201233290,2008-01-25,1,0,Jump-start economy: Give health care to all,False,fadi420,worldnews
4,1201274720,2008-01-25,4,0,Council of Europe bashes EU&UN terror blacklist,False,mhermans,worldnews

---

## EDA

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 509236 entries, 0 to 509235
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   time_created  509236 non-null  int64
 1   date_created  509236 non-null  object
 2   up_votes      509236 non-null  int64
 3   down_votes    509236 non-null  int64
 4   title         509236 non-null  object
 5   over_18       509236 non-null  bool
 6   author        509236 non-null  object
 7   category      509236 non-null  object
dtypes: bool(1), int64(3), object(4)
memory usage: 27.7+ MB

In [5]:
# Checking for nulls in the dataframe - none detected
df.isnull().sum()

time_created    0
date_created    0
up_votes        0
down_votes      0
title           0
over_18         0
author          0
category        0
dtype: int64

In [21]:
# Defining a function to concisely process this dataframe and others in the same format
def process_data(df):
    
    # Redefining the 'time_created' column to hold datetime, converted from unix timestamp format
    df['time_created'] = [datetime.fromtimestamp(ts) for ts in df['time_created']]
    # Dropping 'date_created' because of redundancy
    df.drop(columns='date_created', inplace=True)
    
    # Creating a feature to hold the post length in characters
    df['post_length_chars'] = df['title'].apply(len)
    
    # Generating features for total number of posts by author and total number of upvotes by author
    df['author_upvotes'] = 
    df['author_posts'] = 
    
    # Generating a feature to hold day of the week and dummifying
    df['weekday'] = df['time_created'].dt.day_name()
    day_dummies = pd.get_dummies(df['weekday'], drop_first=True)
    df = pd.concat([df, day_dummies], axis=1)
    df.drop('weekday', inplace=True)
    
    # Dropping 'category' feature if only one category is present
    if len(df['category'].unique()) == 1:
        df.drop(columns='category', inplace=True)
    # Similarly dropping down votes if there are none reported
    if sum(df['down_votes']) == 0:
        df.drop(columns='down_votes', inplace=True)
    
    # Binarizing 'over_18' feature
    df['over_18'] = df['over_18'].map({False:0, True:1})
    
    # Reordering columns for clarity
    # df = df[['author', 'title', 'up_votes', 'over_18', 'post_length_chars' 'time_created', 
    #          'weekday', 'Saturday', 'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday']]
    
    return df

In [22]:
process_data(df)

,time_created,up_votes,title,over_18,author,post_length_chars,weekday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,2008-01-24 22:34:06,3,Scores killed in Pakistan clashes,0,polar,33,Thursday,0,0,0,1,0,0
1,2008-01-24 22:34:35,2,Japan resumes refuelling mission,0,polar,32,Thursday,0,0,0,1,0,0
2,2008-01-24 22:42:03,3,US presses Egypt on Gaza border,0,polar,31,Thursday,0,0,0,1,0,0
3,2008-01-24 22:54:50,1,Jump-start economy: Give health care to all,0,fadi420,44,Thursday,0,0,0,1,0,0
4,2008-01-25 10:25:20,4,Council of Europe bashes EU&UN terror blacklist,0,mhermans,47,Friday,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
509231,2016-11-22 07:12:44,5,Heil Trump : Donald Trump s alt-right white...,0,nonamenoglory,88,Tuesday,0,0,0,0,1,0
509232,2016-11-22 07:12:52,1,There are people speculating that this could b...,0,SummerRay,67,Tuesday,0,0,0,0,1,0
509233,2016-11-22 07:17:36,1,Professor receives Arab Researchers Award,0,AUSharjah,41,Tuesday,0,0,0,0,1,0
509234,2016-11-22 07:19:17,1,Nigel Farage attacks response to Trump ambassa...,0,smilyflower,55,Tuesday,0,0,0,0,1,0
509235,2016-11-22 07:22:26,1,Palestinian wielding knife shot dead in West B...,0,superislam,64,Tuesday,0,0,0,0,1,0

In [6]:
# Converting 'date_created' to datetime
df['date_created'] = pd.to_datetime(df['date_created'])

In [7]:
df.dtypes

time_created             int64
date_created    datetime64[ns]
up_votes                 int64
down_votes               int64
title                   object
over_18                   bool
author                  object
category                object
dtype: object

In [8]:
# The data spans 3223 days, from 1/25/08 to 11/22/16
print(f"Number of days represented in dataframe: {len(df['date_created'].unique())}")
print(f"Data date range is from {min(df['date_created'])} to {max(df['date_created'])}")

Number of days represented in dataframe: 3223
Data date range is from 2008-01-25 00:00:00 to 2016-11-22 00:00:00

In [9]:
# All posts are classified as 'worldnews' - with just a single class represented, this feature becomes unnecessary
df['category'].value_counts()

worldnews    509236
Name: category, dtype: int64

In [10]:
# Dropping 'category' feature
df.drop(columns='category', inplace=True)

---

In [11]:
# Summary stats for upvotes
df['up_votes'].describe()

count    509236.000000
mean        112.236283
std         541.694675
min           0.000000
25%           1.000000
50%           5.000000
75%          16.000000
max       21253.000000
Name: up_votes, dtype: float64

In [12]:
# Looking at titles of most upvoted posts
df['up_votes'].groupby(df['title']).sum().sort_values(ascending=False)[0:50].to_frame()

                                                    up_votes
title
A biotech startup has managed to 3-D print fake...     21253
Twitter has forced 30 websites that archive pol...     13435
2.6 terabyte leak of Panamanian shell company d...     13244
The police officer who leaked the footage of th...     12333
Paris shooting survivor suing French media for ...     11288
Hundreds of thousands of leaked emails reveal m...     11108
Brazil s Supreme Court has banned corporate con...     10922
ISIS beheads 81-year-old pioneer archaeologist ...     10515
Feeding cows seaweed could slash global greenho...     10394
Brazilian radio host famous for exposing corrup...     10377
Every reference to the Great Barrier Reef remov...     10289
Iceland s capital Reykjavik to switch off stree...     10239
TTIP: secrecy around talks is  profoundly undem...     10161
 What we have... is... concrete proof of U.S.-b...     10159
India sues Nestle for nearly $100m because lead...     10086
 Shootings  reported in central Paris: Reports ...      9967
France decrees new rooftops must be covered in ...      9954
iTunes is illegal under UK copyright law - The ...      9803
Gravitational waves from black holes detected           9520
The UN just declared antibiotic resistance “the...      9492
Norway considers giving mountain to Finland as ...      9467
Huge explosion reported in Chinese port city of...      9408
GPS Trackers In Fake Elephant Tusks Reveal Ivor...      9324
FIFA admits to World Cup hosting bribes, asks U...      9319
The giant panda is no longer an endangered spec...      9316
NASA officially announces Manned Mars Mission, ...      9303
NASA has completed the $8.7 billion James Webb ...      9298
Six people who hid in a supermarket refrigerato...      9232
Costa Rica celebrates 113 days of 100-percent r...      9192
Pacific Bluefin Tuna: Population Drops 97% Due ...      9011
Legal scholars warn against 10 year prison for ...      9009
NASA announces discovery of flowing water in Mars       8901
Thousands of prehistoric mammoth tusks are bein...      8900
US State Dept declares ISIS is committing genoc...      8830
German anti-vaccer wagers € 100,000 to anyone p...      8781
Indian Prime Minister:  I want to tell the peop...      8738
Alberta passes bill banning corporate and union...      8724
The first UN privacy chief has said the world n...      8649
Just miles from the US border, Lexmark fires 90...      8636
Afghan military interpreter who served with Bri...      8601
Saudi Arabia strips religious police of arresti...      8583
Microsoft Corp said on Wednesday it will begin ...      8571
The solar system appears to have a new ninth pl...      8557
Netherlands will once again need to close priso...      8514
David Cameron personally intervened to prevent ...      8460
U.N. Chief Admits He Removed Saudi Arabia From ...      8457
The South Korean President has been under the c...      8446
Saudi Arabia has told the Obama administration ...      8431
German Vice Chancellor Gabriel: Saudi Arabia mu...      8430
Adidas shoe manufacture returns to Germany, ful...      8416

In [13]:
df.sort_values('up_votes', ascending=False)[0:50]

,time_created,date_created,up_votes,down_votes,title,over_18,author
377200,1434818471,2015-06-20,21253,0,A biotech startup has managed to 3-D print fak...,False,KRISHNA53
391415,1440421079,2015-08-24,13435,0,Twitter has forced 30 websites that archive po...,False,joeyoungblood
450818,1459706506,2016-04-03,13244,0,2.6 terabyte leak of Panamanian shell company ...,False,mister_geaux
391318,1440367768,2015-08-23,12333,0,The police officer who leaked the footage of t...,False,navysealassulter
390252,1439939168,2015-08-18,11288,0,Paris shooting survivor suing French media for...,False,seapiglet
449809,1459336773,2016-03-30,11108,0,Hundreds of thousands of leaked emails reveal ...,False,Xiroth
397215,1442535288,2015-09-18,10922,0,Brazil s Supreme Court has banned corporate co...,False,DoremusJessup
390494,1440030633,2015-08-20,10515,0,ISIS beheads 81-year-old pioneer archaeologist...,False,DawgsOnTopUGA
500786,1476881235,2016-10-19,10394,0,Feeding cows seaweed could slash global greenh...,False,mvea
388230,1438963135,2015-08-07,10377,0,Brazilian radio host famous for exposing corru...,False,fiffers
465396,1464676302,2016-05-31,10289,0,Every reference to the Great Barrier Reef remo...,False,Flamo_the_Idiot_Boy
495329,1475072783,2016-09-28,10239,0,Iceland s capital Reykjavik to switch off stre...,False,tiribazus
447311,1458294452,2016-03-18,10161,0,TTIP: secrecy around talks is profoundly unde...,False,Wagamaga
187603,1370655122,2013-06-08,10159,0,What we have... is... concrete proof of U.S.-...,False,dantesinfer
389011,1439385059,2015-08-12,10086,0,India sues Nestle for nearly $100m because lea...,False,damsteegt
412603,1447448726,2015-11-13,9967,0,Shootings reported in central Paris: Reports...,False,emr1028
354925,1426856986,2015-03-20,9954,0,France decrees new rooftops must be covered in...,False,pnewell
387922,1438857239,2015-08-06,9803,0,iTunes is illegal under UK copyright law - The...,False,Noticemenot
437930,1455204945,2016-02-11,9520,0,Gravitational waves from black holes detected,False,Andromeda321
494404,1474731905,2016-09-24,9492,0,The UN just declared antibiotic resistance “th...,False,MarcoshLA
480475,1469724396,2016-07-28,9467,0,Norway considers giving mountain to Finland as...,False,bimonscificon
389068,1439403107,2015-08-12,9408,0,Huge explosion reported in Chinese port city o...,False,haunted_cheesecake
389806,1439756239,2015-08-16,9324,0,GPS Trackers In Fake Elephant Tusks Reveal Ivo...,False,AmerikanInfidel
446779,1458130384,2016-03-16,9319,0,"FIFA admits to World Cup hosting bribes, asks ...",False,jurvand
489733,1473041714,2016-09-05,9316,0,The giant panda is no longer an endangered spe...,False,madam1
326108,1417646102,2014-12-03,9303,0,"NASA officially announces Manned Mars Mission,...",False,Herman999999999
505849,1478593675,2016-11-08,9298,0,NASA has completed the $8.7 billion James Webb...,False,Short_Term_Account
358243,1428049229,2015-04-03,9232,0,Six people who hid in a supermarket refrigerat...,False,DrSalted
488435,1472574876,2016-08-30,9192,0,Costa Rica celebrates 113 days of 100-percent ...,False,briancon
455100,1461143885,2016-04-20,9011,0,Pacific Bluefin Tuna: Population Drops 97% Due...,False,Vippero
389637,1439653556,2015-08-15,9009,0,Legal scholars warn against 10 year prison for...,False,Noticemenot
399885,1443452553,2015-09-28,8901,0,NASA announces discovery of flowing water in Mars,False,ProfGiallo
391218,1440325240,2015-08-23,8900,0,Thousands of prehistoric mammoth tusks are bei...,False,EightRoundsRapid
447086,1458216057,2016-03-17,8830,0,US State Dept declares ISIS is committing geno...,False,guiltyofnothing
352692,1426242655,2015-03-13,8781,0,"German anti-vaccer wagers € 100,000 to anyone ...",False,bendertheoffender22
494498,1474790209,2016-09-25,8738,0,Indian Prime Minister: I want to tell the peo...,False,iconoclaus
377893,1435084015,2015-06-23,8724,0,Alberta passes bill banning corporate and unio...,False,awake-at-dawn
391608,1440491889,2015-08-25,8649,0,The first UN privacy chief has said the world ...,False,Wagamaga
422985,1450132948,2015-12-14,8636,0,"Just miles from the US border, Lexmark fires 9...",False,jb492
390157,1439906569,2015-08-18,8601,0,Afghan military interpreter who served with Br...,False,crippledrejex
453393,1460566667,2016-04-13,8583,0,Saudi Arabia strips religious police of arrest...,False,Salman91
427153,1451521483,2015-12-31,8571,0,Microsoft Corp said on Wednesday it will begin...,False,Samjones31
431972,1453302691,2016-01-20,8557,0,The solar system appears to have a new ninth p...,False,NinjaDiscoJesus
447933,1458577693,2016-03-21,8514,0,Netherlands will once again need to close pris...,False,xlnqeniuz
451782,1460028347,2016-04-07,8460,0,David Cameron personally intervened to prevent...,False,StoCazz
467944,1465493953,2016-06-09,8457,0,U.N. Chief Admits He Removed Saudi Arabia From...,False,terran1212
503340,1477712622,2016-10-29,8446,0,The South Korean President has been under the ...,False,FlandersNed
454072,1460776960,2016-04-16,8431,0,Saudi Arabia has told the Obama administration...,False,acupoftwodayoldcoffe
420414,1449405762,2015-12-06,8430,0,German Vice Chancellor Gabriel: Saudi Arabia m...,False,Ebshoun
464003,1464168629,2016-05-25,8416,0,"Adidas shoe manufacture returns to Germany, fu...",False,JarkAttack

In [14]:
df['down_votes'].value_counts()

0    509236
Name: down_votes, dtype: int64

In [15]:
# No downvotes in dataframe, so this feature can be dropped
df.drop(columns='down_votes', inplace=True)

In [16]:
df.head()

,time_created,date_created,up_votes,title,over_18,author
0,1201232046,2008-01-25,3,Scores killed in Pakistan clashes,False,polar
1,1201232075,2008-01-25,2,Japan resumes refuelling mission,False,polar
2,1201232523,2008-01-25,3,US presses Egypt on Gaza border,False,polar
3,1201233290,2008-01-25,1,Jump-start economy: Give health care to all,False,fadi420
4,1201274720,2008-01-25,4,Council of Europe bashes EU&UN terror blacklist,False,mhermans

---

In [17]:
print(f"Number of unique authors: {len(df['author'].unique())}")
print('-----')
print(f"Top 20 contributors by post count: \n{df['author'].value_counts()[0:20]}")
print('-----')
print(f"Top 20 contributors by upvotes: \n{df['up_votes'].groupby(df['author']).sum().sort_values(ascending=False)[0:20]}")

Number of unique authors: 85838
-----
Top 20 contributors by post count:
davidreiss666         8897
anutensil             5730
DoremusJessup         5037
maxwellhill           4023
igeldard              4013
readerseven           3170
twolf1                2923
madam1                2658
nimobo                2564
madazzahatter         2503
ionised               2493
NinjaDiscoJesus       2448
bridgesfreezefirst    2405
SolInvictus           2181
Libertatea            2108
vigorous              2077
galt1776              1897
DougBolivar           1770
bob21doh              1698
trot-trot             1649
Name: author, dtype: int64
-----
Top 20 contributors by upvotes:
author
maxwellhill         1985416
anutensil           1531544
Libertatea           832102
DoremusJessup        584380
Wagamaga             580121
NinjaDiscoJesus      492582
madazzahatter        428966
madam1               390541
davidreiss666        338306
kulkke               333311
pnewell              297270
nimobo               266733
trot-trot            258367
ionised              256159
EightRoundsRapid     254670
twolf1               230031
mepper               223369
PanAfrica            219742
readerseven          209225
green_flash          205554
Name: up_votes, dtype: int64

---

In [18]:
# Looking at distribution of 'over_18' posts by number and percentage
print(df['over_18'].value_counts())
print(df['over_18'].value_counts(normalize=True))

False    508916
True        320
Name: over_18, dtype: int64
False    0.999372
True     0.000628
Name: over_18, dtype: float64

In [19]:
# Checking title content of some of the posts classified as "over_18"
df[df['over_18'] == True]

,time_created,date_created,up_votes,title,over_18,author
1885,1206381438,2008-03-24,189,Pics from the Tibetan protests - more graphic ...,True,pressed
6721,1211138718,2008-05-18,5,"MI5 linked to Max Mosley’s Nazi-style, sadomas...",True,alllie
8414,1212694925,2008-06-05,0,Tabloid Horrifies Germany: Poland s Yellow Pre...,True,stesch
12163,1216672016,2008-07-21,0,Love Parade Dortmund: Techno Festival Breaks R...,True,stesch
12699,1217381380,2008-07-30,5,IDF kills young Palestinian boy. Potentially N...,True,cup
...,...,...,...,...,...,...
503776,1477889966,2016-10-31,4,Latest Italian Earthquake Devastates Medieval ...,True,pixelinthe
508067,1479400229,2016-11-17,12,ISIS Release Video Showing Melbourne As A Poss...,True,halacska
508176,1479434681,2016-11-18,0,Animal welfare activists have released footage...,True,NinjaDiscoJesus
508376,1479492875,2016-11-18,6,Jungle Justice : Public lynching of a street ...,True,avivi_
508706,1479641575,2016-11-20,0,[NSFW] Teenage boy run over by Iraqi army tan...,True,atyzer

In [20]:
nsfw = df[df['over_18'] == True]
nsfw.sort_values(by='up_votes', ascending=False)[0:25]

,time_created,date_created,up_votes,title,over_18,author
500590,1476806936,2016-10-18,7941,"Judge presiding over El Chapo s case shot, k...",True,IsleCook
494536,1474805114,2016-09-25,6322,[NSFL] Australian child molester Peter Scully ...,True,ExWhySaid
428689,1452167289,2016-01-07,5878,Armed suspect shot dead after trying to storm ...,True,rawmas02
462067,1463480226,2016-05-17,5617,Syria Army killed over 200 ISIS militants in 3...,True,orangeflower2015
303900,1409942733,2014-09-05,5507,Man escapes ISIS execution,True,brothamo
461255,1463150094,2016-05-13,4839,ISIS massacre 14 Real Madrid fans at supporter...,True,PeterG92
376435,1434501068,2015-06-17,4209,The fight is on to stop an annual Chinese even...,True,ShakoWasAngry
269963,1398120460,2014-04-21,3831,China: “Violent Government Thugs” Beaten To De...,True,helpmesleep666
431221,1453095585,2016-01-18,3823,ISIS commits largest massacre since Syrian con...,True,AllenDono
246618,1390489347,2014-01-23,3738,Video of riot police stripping detained protes...,True,_skylark
246638,1390494386,2014-01-23,3464,Ukraine: Police undress arrested to take group...,True,uncleban
238610,1387702158,2013-12-22,3457,Kill Gays bill just passed in Uganda - presi...,True,Lulubelle_
195725,1373253713,2013-07-08,3301,Mexico: Teenager stabbed to death for recordin...,True,skorda
157591,1359652841,2013-01-31,2689,Recent pictures from war-ridden Damascus by Re...,True,moses_herzog
206634,1377136004,2013-08-22,2569,Hundreds of children s bodies piled high after...,True,Sociomancer
37176,1245520828,2009-06-20,2547,"Woman killed in protests (Iran) *shocking, nsfw.",True,cactusrex
426859,1451431228,2015-12-29,2532,ISIS militants burn 20 media activists to deat...,True,dvzhou
185486,1369894739,2013-05-30,2362,First topless protest in an Islamic state lead...,True,goliathrk
122902,1337270498,2012-05-17,2351,"Mexico s Drug War: 50,000 Dead in 6 Years",True,mepper
248524,1391033376,2014-01-29,1918,Photos of Ukrainian uprising. Includes a dude ...,True,UlyssesOntusado
137501,1348244038,2012-09-21,1905,"Muslim, let s get naked : Ukraine-based activ...",True,KatieMorosky
361295,1429163593,2015-04-16,1903,A 250-year-old leather dildo has been discover...,True,EndOfRedditors
200886,1374891708,2013-07-27,1873,Soldiers’ Mass Execution Reported by Syria Gro...,True,uptodatepronto
494947,1474967159,2016-09-27,1855,Paris to create designated space for naked peo...,True,n0k1man
109678,1325210152,2011-12-30,1854,Mexican Drug War - Five Years Later (images),True,puedo_tener_chzbrgr

---

## Feature Engineering

In [26]:
df['post_length'] = ''
c=0
for t in df['title']:
    df['post_length'][c] = len(t)
    c+=1

<ipython-input-26-d78e1070b655>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['post_length'][c] = len(t)

KeyboardInterrupt:

In [34]:
df['post_length_chars'] = df['title'].apply(len)

In [35]:
df

,time_created,date_created,up_votes,title,over_18,author,post_length,post_length_chars
0,1201232046,2008-01-25,3,Scores killed in Pakistan clashes,False,polar,33,33
1,1201232075,2008-01-25,2,Japan resumes refuelling mission,False,polar,32,32
2,1201232523,2008-01-25,3,US presses Egypt on Gaza border,False,polar,31,31
3,1201233290,2008-01-25,1,Jump-start economy: Give health care to all,False,fadi420,44,44
4,1201274720,2008-01-25,4,Council of Europe bashes EU&UN terror blacklist,False,mhermans,47,47
...,...,...,...,...,...,...,...,...
509231,1479816764,2016-11-22,5,Heil Trump : Donald Trump s alt-right white...,False,nonamenoglory,,88
509232,1479816772,2016-11-22,1,There are people speculating that this could b...,False,SummerRay,,67
509233,1479817056,2016-11-22,1,Professor receives Arab Researchers Award,False,AUSharjah,,41
509234,1479817157,2016-11-22,1,Nigel Farage attacks response to Trump ambassa...,False,smilyflower,,55
509235,1479817346,2016-11-22,1,Palestinian wielding knife shot dead in West B...,False,superislam,,64

---

## Data Visualizations